$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

body {
  font-family: 'Lato', serif;
}

  h1 {
    font-size: 4em;
  }

  .code-container {
    padding: 40px 0 30px;
    margin-bottom: 20px;
    background: #9FCCB1;

    pre {
      border: none;
      border-radius: 0;
    }

      .hljs {
        min-height: 300px;
      }

  }

#options {

  margin-bottom: 30px;

}
