<div class="container">

  <h1 class="text-center">Countries Array</h1>

  <p class="text-center">Select your favorite language</p>

  <div class="row">

    <div id="options" class="col-sm-4 col-sm-push-4 text-center">

      <select class="form-control" ng-model="currentLanguage" ng-options="language.name group by language.language for language in languages">

      </select>

    </div>

  </div>

</div>

<div class="code-container">

  <div class="container">

    <div class="row">

      <div id="code" class="col-sm-8 col-sm-push-2">

        <div hljs source="code" contenteditable language="{{ll}}">

        </div>

      </div>

    </div>

  </div>

</div>
