<div class="container">

  <h1 class="text-center">Countries Array</h1>

  <p class="text-center">Select your favorite language</p>

  <div class="row">

    <div id="options" class="col-sm-4 col-sm-push-4 text-center">

      <select class="form-control" ng-model="currentLanguage" ng-options="language.name group by language.language for language in languages">

      </select>

    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Countries Array -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5260277106454676"
     data-ad-slot="9072906141"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </div>

</div>

<div class="code-container">

  <div class="container">

    <div class="row">

      <div id="code" class="col-sm-8 col-sm-push-2">

        <div hljs source="code" contenteditable language="{{ll}}">

        </div>

      </div>

    </div>

  </div>

</div>
